[Unit]
Description=Prepare /run/initramfs for systemd-shutdown
DefaultDependencies=no
ConditionKernelCommandLine=overlayfs

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'mkdir -p /run/initramfs && cd /run/initramfs && gunzip -c /usr/local/lib/initrd.img | cpio -id --quiet bin/busybox && install -m 0755 /usr/local/lib/initramfs-shutdown /run/initramfs/shutdown'

[Install]
WantedBy=shutdown.target
