[Unit]
Description=Simple Launcher
Requires=sway.service
After=sway.service

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=SDL_VIDEODRIVER=wayland
Environment=WAYLAND_DISPLAY=/run/user/0/wayland-1
ExecStartPre=-/bin/killall swaynag
ExecStartPre=/bin/sh -c 'while [ ! -e /dev/input/by-path/platform-rocknix-singleadc-joypad-event-joystick ]; do echo "Waiting joypad device ready..."; sleep 0.5; done'
ExecStartPre=/bin/sh -c 'while [ ! -e /dev/dri/renderD128 ]; do echo "Waiting GPU device ready..."; sleep 0.5; done'
ExecStartPre=/bin/sh -c 'i=0; while [ $i -lt 10 ] && [ ! -d /roms/simple-launcher ]; do echo "Waiting /roms ready..."; sleep 0.5; i=$((i+1)); done; true'
ExecStart=/usr/local/bin/simple-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
