[Unit]
Description=Simple Launcher

[Service]
ExecStartPre=/bin/sh -c 'while [ ! -e /dev/dri/renderD128 ]; do echo "Waiting GPU device ready..." >/dev/tty0; sleep 0.5; done'
ExecStart=/usr/local/bin/simple-launcher -width 400 -height 400 -scale 0.6 -itemsPerPage 6 -font /usr/share/fonts/Ubuntu.ttf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
