[Unit]
Description=Simple Launcher

[Service]
ExecStartPre=/bin/sh -c 'while [ ! -e /dev/dri/renderD128 ]; do echo "Waiting GPU device ready..."; sleep 0.5; done'
ExecStartPre=/bin/sh -c 'i=0; while [ $i -lt 10 ] && [ ! -d /roms/simple-launcher ]; do echo "Waiting /roms ready..."; sleep 0.5; i=$((i+1)); done; true'
ExecStartPre=/bin/sh -c 'chvt 3 || true'
ExecStart=/usr/local/bin/simple-launcher -width 400 -height 400 -scale 0.6 -itemsPerPage 6 -font /usr/share/fonts/Ubuntu.ttf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
