BR2_DEFCONFIG_FRAGMENT="$(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/common.fragment $(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/with-graphics.fragment $(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/sway.fragment $(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/pc_qemu.fragment"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_TiniLinux_PATH)/board/common/rootfs $(BR2_EXTERNAL_TiniLinux_PATH)/board/pc_qemu_aarch64_virt/rootfs"
BR2_PACKAGE_MESA3D_NO_LLVM_GALLIUM_DRIVER_SOFTPIPE=y
BR2_PACKAGE_MESA3D_NO_LLVM_GALLIUM_DRIVER_VIRGL=y
