BR2_DEFCONFIG_FRAGMENT="$(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/common.fragment $(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/pc_qemu.fragment $(BR2_EXTERNAL_TiniLinux_PATH)/configs/fragments/sway.fragment"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_TiniLinux_PATH)/board/common/rootfs $(BR2_EXTERNAL_TiniLinux_PATH)/board/pc_x86_64_efi_liveboot/rootfs"
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_TiniLinux_PATH)/board/pc_x86_64_efi_liveboot/linux/linux.conf"
BR2_x86_64=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=n
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_X86_64_GLIBC_STABLE=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACONF=y
BR2_PACKAGE_ALSA_UTILS_ACONNECT=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_FBSET=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_MESA3D_NO_LLVM=y
BR2_PACKAGE_MESA3D_NO_LLVM_GALLIUM_DRIVER_VIRGL=y
BR2_PACKAGE_MESA3D_NO_LLVM_OPENGL_ES=y
BR2_PACKAGE_DINGUX_COMMANDER=y
BR2_PACKAGE_RETROARCH=y
BR2_PACKAGE_SIMPLE_LAUNCHER=y
BR2_PACKAGE_SIMPLE_TERMINAL=y
